.card-white {
    background: white;
}

.align-center {
    text-align: center;
}

.mt-10 {
    margin-top: 14%;
}

.ml-10 {
    margin-left: 10%;
}

.dir-rtl {
    direction: rtl;
}

.dir-ltr {
    direction: ltr;
}

.ul-wo-bullet {
    list-style-type: none;
}

.urls.active {
    color: var(--stone);
}

.urls:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #ccc;
    border: 0px;
}

.urls a:hover {
    text-decoration: none;
}


.entrance-style-filters {
    text-align: center;
    box-shadow: -1px 0px 10px 3px #bebebe;
}

.font-size-400 {
    font-size: 100%;
}

.font-size-300{
    font-size: 25px;
}

.color-green {
    color: var(--stone);
}

.fa-filter:hover {
    cursor: pointer;
}

thead {
    background-color: rgb(235, 239, 242);
}

.fa-bars {
    font-size: 150%;
    color: #4CB5F5;
}

.fa-bars:hover{
    cursor: pointer;
}

.side-nav {
    position: fixed;
    background-color: white;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
    z-index: 1031;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.hover-pointer {
    cursor: pointer;
}

.close-side {
    background-color: white;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
}

@media all and (min-width: 992px){
    .side-nav {
        display: none;
    }

    .fa-filter {
        font-size: 300% !important;
    }
}

@media all and (max-width: 992px) and (min-width: 768px) {
    .fa-filter {
        font-size: 200% !important;
    }
}

@media all and (max-width: 768px) and (min-width: 200px){
    .fa-filter {
        font-size: 150% !important;
    }
}

@media all and (max-width: 200px) {
    .fa-filter {
        font-size: 100% !important;
    }
}

.loading-mode {

}

.z-100 {
    z-index: 100;
}

.back-shadow {
    background-color: var(--shadow);
    color: white;
}

.back-shadow.active {
    background-color: var(--stone);
}

.back-shadow:hover {
    cursor: pointer;
    color: white;
    background-color: var(--shadow-hover);
}

.btn-bg-shadow {
    background-color: var(--shadow);
    color: white;
}

.btn-bg-shadow:hover {
    color: white;
}

.btn-bg-stone {
    background-color: var(--stone);
    color: white;
}

.btn-bg-stone:hover {
    color: white;
}

.bg-hover-red:hover {
    color: red!important;
}

.bg-red {
    color: red;
}

.bg-hover-green:hover {
    color: green!important;
}

.cursor-pointer:hover {
    cursor: pointer;
}